NEXT_PUBLIC_API_URL="http://localhost:5002/api/v1/admin"
NEXT_PUBLIC_PUBLIC_API_URL="http://localhost:5002/api/v1"
NEXT_PUBLIC_BASE_URL=""
NEXT_PUBLIC_ENCRYPTION_KEY="@@##!!((()))$$$%%%^^^&&&***ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz"
