PORT=5002
MONGODB_URI=mongodb://localhost:27017/csrdynamicform_db
NODE_ENV=development
JWT_SECRET_KEY=csrdynamicform_mongo_jwt_secret_2026
JWT_EXPIRY=8h
OTP_EXPIRY_MINUTES=10
APP_NAME=csrdynamicform-mongo-server
